
.nome{
font-size: 70px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: white;
}

body{
background-image: url(./imgalemanha/Alemanha.png);
background-repeat: no-repeat;

background-size: cover;
}

 .medalhas{
font-size: 200px;

 }
 a:link {
  color: rgb(214, 242, 255);
  text-decoration: none;
    
}
a:visited {
  text-decoration: none;
  color:white;
  }
  a:active {
      color:rgb(153, 222, 253);
    }
    
a:hover {
  color: rgb(153, 222, 253);
}