
   body{
      margin: 0;
      height: 100%;
      background-image:url(../imgnoruega/Noruega.png) ;
      background-size: cover;
      background-repeat: no-repeat;
      }
      table{
      border: 3px solid black;;
      border-collapse: collapse;
      text-align: center;
      position: fixed;
      bottom: 0;
      right: 33.5%;
      
      
      
      
      
      
      }
      .M{
         border: 2px solid rgb(253, 18, 65);; 
         border-collapse: collapse;
         background-color:rgb(0,32,91);
         color: white;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 22px;
         width: 150px;
         
         
         
         }
      th{
      background-color:dimgray;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: white;
      }
      .nome{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 70px;
      color: white;
      }
      a:link {
         color: rgb(214, 242, 255);
         text-decoration: none;
           
       }
       a:visited {
         text-decoration: none;
         color:white;
         }
         a:active {
             color:rgb(153, 222, 253);
           }
           
     a:hover {
         color: rgb(153, 222, 253);
       }